a { text-decoration: none;
	color: #fff;}

a:hover { text-decoration: underline;
		color: #fff;}

body { background: #9CC66A; }

	#header { background: #550527; }
	#logo { width: 250px;
		padding-left: 20px;
		margin: 15px; }
	nav ul { list-style: none;
		font-family: poiret one, calibri, arial;
		color: #ffffff; }
	nav li { float: left;
		margin: 8px; }

	#user-icon { width: 37px; }
	#login-arrow { width: 32px; }
	#login-banner { background: #466D5C;
			font-size: 16px;
			color: #ffffff;
			font-family: 'poiret one', calibri, arial; }
	#hero { background-image: url("images/almonds_1.jpg"); 
		background-repeat: no-repeat;
		background-size: cover;
		font-family: 'dancing script', calibri, arial;
		font-size: 50px;
		color: #ffffff;
		height: 720px;
		padding: 50px;
		text-align: center; }
	#welcome-text { background: #ffffff; 
			text-align: center;
			padding: 50px; }
		#welcome-text h1 { font-family: 'Mate SC', Calibri, Arial; }
		#welcome-text p { font-family: Calibri, arial;
					font-size: 16px;
					padding: 10px;
					line-height: 2em;}
	.hr { max-width: 100%; }
	.gallery-link-block { background: #ffffff;
				padding: 40px 0px;
				text-align: center; }
		.gallery-link-image img { max-width: 100%;
						border: 1px solid black; }
		.gallery-link-text { background: #466D5C;
					color: #ffffff;
					text-align: center;
					border: 1px solid black;
					padding: 20px;
					max-width: 576px; }
			.gallery-link-text hr { max-width: 100%; }
			.gallery-link-text h1 { font-family: 'poiret one', calibri, arial; }
			.gallery-link-text p { font-family: calibri, arial; }

		#almond-facts { background: #fff; }
		#almond-facts-box { background: #EEE8A5;
					font-family: 'dancing script', calibri, arial;
					color: #550527;
					text-align: center; }
		#almond-facts-box h1 { font-size: 3em; }
		#almond-facts-heading-offset { position: relative;
						top: -25px; }
		#almond-facts img { width: 100%; }
		#almond-facts-space { height: 50px;}

		#almond-facts-bg { background-image: url("images/almonds_2.jpg");
					background-repeat: no-repeat;
					background-size: cover;
					height: 300px; }

		.index-link-box-row { background: #ffffff; }
		.index-link-boxes {font-family: 'poiret one', calibri, arial;
					height: 88px;
					margin: 30px 10px 0px 10px;
					padding: 20px 20px 0px 20px;
					color: white; background: #466D5C; border: 1px solid black;
					 }
		.index-link-boxes:hover {background: #9CC66A;
					transition: .4s;
					 }
		.index-link-boxes h1 {display: inline-block; float: left; 
					font-size: 2em;}
		.index-link-boxes img { display: inline-block; padding-top: 5px; float: right; height: 33px; }
		#almond-health-fact { background-image: url("images/almonds_5.jpg");
					background-repeat: no-repeat;
					background-size: cover;}

		#almond-health-fact-box { text-align: center; font-family: calibri, arial; }
		#almond-health-fact-box h1 { font-family: Aleo, Calibri, Arial;
						color: #466D5C; }
		footer { margin-right: -24px; }
		#almond-footer { background: #550527; border-top: 1px solid black; color: white; font-family: calibri, arial; }
		#footer-logo-column { max-width: 400px;}
		#footer-ca-almonds-column { max-width: 400px; }

/* Mobile Menu */

#mobile-menu { display: block;
		position: absolute;
		left: -300px;
		height: 100%;
		width: 300px;
		font-size: 30px;
		line-height: 2em;
		padding-top: 50px;
		font-family: 'poiret one', calibri, arial;
		/* transition: .4s; */ }

#hamburger { cursor: pointer; }

#mobile-menu #close-x { display: block;
		margin-left: 240px;
		cursor: pointer;
		/* transition: .4s; */ }

#mobile-menu.active #close-x { display: block;
		margin-left: 240px;
		transition: .4s;
		cursor: pointer;
 }

#mobile-menu.active { display: block;
	position: fixed;
	height: 100%;
	background: #550527;
	width: 300px;
	color: #fff;
	transition: .4s;
	font-family: 'poiret one', calibri, arial;
	font-size: 30px;
	line-height: 2em;
	left: 0;
	padding-top: 50px;
	z-index: 1;
	 }

#close-box {display: none;}

#close-box.active {	display: block;
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: 0;
		background: rgba(0, 0, 0, 0.3);}

#mobile-menu ul { list-style: none; }

@media (min-width:992px) {
		#slide-out {
			display: none;
	}
}

/* Slideshow */

.carousel-item { width: 100%;
		height: 130px;
		background: rgba(70, 109, 92, 0.5);
		font-family: 'poiret one', calibri, arial;
		color: #fff;
		font-size: 2em;
		margin-top: 100px;
		position: relative;
		padding: 0px 50px;  }



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default  */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 145px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} 




/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
	position: relative;
	top:250px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #466D5C;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #9AC46A;
}

@media (max-width:449px) {

	.next {
  	right: -120px;
  	border-radius: 3px 0 0 3px;
	}

	.prev {
  	left: -120px;
  	border-radius: 3px 0 0 3px;
	}

}

@media (min-width:450px) and (max-width:575px) {


	.next {
  	right: -174px;
  	border-radius: 3px 0 0 3px;
	}

	.prev {
  	left: -174px;
  	border-radius: 3px 0 0 3px;
	}
	
	.one-line-slide {
	font-size: .7em;
	margin-top: 40px;
	}

	.two-line-slide {
	font-size: .6em;
	margin: 20px 40px 0px 40px;
	}

	.three-line-slide {
	font-size: .6em;
	margin: 6px 30px 0px 30px;
	}

}


@media (min-width:576px) and (max-width:767px) {


	.next {
  	right: -210px;
  	border-radius: 3px 0 0 3px;
	}

	.prev {
  	left: -210px;
  	border-radius: 3px 0 0 3px;
	}

	.one-line-slide {
	margin-top: 35px;
	}

	.two-line-slide {
	font-size: .8em;
	margin-top: 20px;
	}

	.three-line-slide {
	font-size: .8em;
	}

}

@media (min-width:768px) and (max-width:991px) {


	.next {
  	right: -300px;
  	border-radius: 3px 0 0 3px;
	}

	.prev {
  	left: -300px;
  	border-radius: 3px 0 0 3px;
	}

	.one-line-slide {
	margin-top: 35px;
	}

	.two-line-slide {
	font-size: .8em;
	margin-top: 20px;
	}

	.three-line-slide {
	font-size: .8em;
	}

}

@media (min-width:1200px) and (max-width:1399px) {

.next {
  	right: -270px;
  	border-radius: 3px 0 0 3px;
	}

.prev {
  	left: -270px;
  	border-radius: 3px 0 0 3px;
	}

	.one-line-slide {
	margin-top: 35px;
	}

	.two-line-slide {
	font-size: .8em;
	margin-top: 20px;
	}

	.three-line-slide {
	font-size: .8em;
	}



}

@media (min-width:992px) and (max-width:1199px) {


	.next {
  	right: -220px;
  	border-radius: 3px 0 0 3px;
	}

	.prev {
  	left: -220px;
  	border-radius: 3px 0 0 3px;
	}

	.one-line-slide {
	margin-top: 35px;
	}

	.two-line-slide {
	font-size: .8em;
	margin-top: 20px;
	}

	.three-line-slide {
	font-size: .8em;
	}

}



@media (min-width:1400px) {


	.next {
  	right: -320px;
  	border-radius: 3px 0 0 3px;
	}

	.prev {
  	left: -320px;
  	border-radius: 3px 0 0 3px;
	}

	.one-line-slide {
	margin-top: 35px;
	}

	.two-line-slide {
	font-size: .8em;
	margin-top: 20px;
	}

	.three-line-slide {
	margin-top: 25px;
	font-size: .8em;
	}

}